nav{
    background-color: #C6AC66;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    height: 70px;
}

        .sub-navbar {
            background-color: rgb(255, 252, 247);
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 8px 0;
            margin-top: 65px; /* Adjust sesuai tinggi navbar utama */
            height: 50px;
        }
        
        .sub-navbar .nav-link {
            color: #000000 !important;
            font-weight: 500;
            padding: 8px 15px;
            border-radius: 20px;
            transition: all 0.3s ease;
            margin: 0 5px;
        }

        
        .sub-navbar .nav-link.active {
            /* background-color: rgba(255, 255, 255, 0.3); */
            font-weight: 600;
        }
        
        /* Responsive untuk mobile */
        @media (max-width: 768px) {
            .sub-navbar {
                padding: 10px 0;
            }
            
            .sub-navbar .nav-link {
                padding: 6px 15px;
                margin: 2px;
                font-size: 14px;
            }
        }

body {
  background-image: url('../assets/bumbu.png');
  /* background-size: 500px auto; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: aquamarine; */
}

#loginContainer {
  margin-top: 150px;
  background: linear-gradient(135deg, #A67B5B, #C2A675);
  max-width: 320px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
}


footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


