nav{
    background-color: #C6AC66;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    height: 60px;
}

body {
  background-image: url('../assets/wallpaperPYK.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#signup{
  width:370px;
  margin-top: 120px;
  margin-bottom: 80px;
  border-radius: 7px;
  background: linear-gradient(135deg, #A67B5B, #C2A675);
}

@media screen and (max-width: 470px) {
  #signup {
    max-width: 320px;
  }
  
}

footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}




