nav{
    background-color: #C6AC66;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    height: 60px;
}

body {
  background-image: url('../assets/bumbu.png');
  background-size: 700px auto;
  background-repeat: no-repeat;
  background-position: top center;
}

#signup{
  max-width:370px;
  margin-top: 70px;
  margin-bottom: 80px;
  border-radius: 7px;
}

footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


